body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
}

h1 {
  padding: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  border-radius: 12px;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #38bdf8;
}

.zoom {
  transform: scale(1.25);
}
